
        main {
            width: 406em;
        }

        body {
            padding: 30px;
            height: 100px;
            background-color: #f7e6e0;
        }

        @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
        @import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

        * {
            scroll-behavior: smooth;
            margin: 0;
            padding: 0;
        }

        .main-konten {
            width: 403em;
            margin: 10px;
            background-image: url("./img/main-bg.png");
            display: flex;
            align-items: center;
        }

        /*Konten1 = perkenalan*/
        .konten1 {
            width: 70em;
            background-color: #a2857b;
        }

        .gambar {
            height: 620px;
            width: 400px;
            background-image: url("./img/pp.jpeg");
            background-size: cover;
            background-position-x: -10px;
            z-index: 1;
        }

        .tulisan h1 {
            color: white;
            font-family: "Playfair Display", serif;
            font-weight: 800;
            letter-spacing: 2px;
            font-size: 50px;
        }

        .tulisan p {
            color: white;
            margin-left: 100px;
            width: 500px;
            font-family: "Poppins", sans-serif;
            font-weight: 500;
            letter-spacing: 2px;
            font-size: 30px;
        }

        .tulisan {
            width: 500px;
            position: relative;
            left: 330px;
            top: 200px;
        }

        /*Konten2 = tentang saya*/
        .konten2 {
            width: 800px;
            font-family: "Poppins", sans-serif;
            background-color: #887368;
            color: white;
            margin-left: 156px;
            padding: 100px 200px 100px 50px;
        }

        .konten2 h1 {
            font-weight: 600;
            letter-spacing: 2px;
        }

        .konten2 p {
            font-weight: normal;
            letter-spacing: 2px;
            font-weight: 200;
            line-height: 30px;
        }

        a {
            color: white;
            font-size: 18px;
        }

        /*Konten3*/
        .konten3 {
            width: 700px;
            height: 200px;
            font-family: "Poppins", sans-serif;
            background-color: #887368;
            color: white;
            margin-left: 156px;
            padding: 100px 200px 100px 50px;
        }

        .konten3 h1 {
            font-weight: 600;
            letter-spacing: 2px;
        }

        .konten3 p {
            font-weight: normal;
            letter-spacing: 2px;
            font-weight: lighter;
            line-height: 30px;
        }

        /*Konten3*/
        .konten4 {
            width: 700px;
            height: 300px;
            font-family: "Poppins", sans-serif;
            background-color: #A2897B;
            color: white;
            margin-left: 156px;
            padding: 100px 200px 100px 50px;
        }

        .konten4 h1 {
            font-weight: 600;
            letter-spacing: 2px;
        }

        .konten4 p {
            font-weight: normal;
            letter-spacing: 2px;
            font-weight: lighter;
            line-height: 30px;
        }


        /*Skilss*/
        .skills {
            display: flex;
            justify-content: space-around;
        }

        /*Project*/
        .project {
            display: flex;
            justify-content: space-around;
        }

        /*Konten5 = Kontak and footer*/
        .konten5 {
            width: 700px;
            height: 350px;
            font-family: "Poppins", sans-serif;
            background-color: #A2897B;
            color: white;
            margin-left: 156px;
            padding: 100px 200px 100px 50px;
        }

        .konten5 h1 {
            font-weight: 600;
            letter-spacing: 2px;
        }

        .konten5 p {
            font-weight: normal;
            letter-spacing: 2px;
            font-weight: lighter;
            line-height: 30px;
        }

        /*styling forms*/
        .forms input[type=text],
        input[type=email] {
            padding: 10px 80px 10px 12px;
            margin: 10px;
            font-family: "Poppins", sans-serif;
            font-weight: lighter;
            background: none;
            color: white;
            font-size: 12px;
            border: 1.5px solid white;
        }

        .forms textarea{
            font-family: "Poppins", sans-serif;
            padding: 10px;
            margin: 10px;
            font-weight: lighter;
            background: none;
            color: white;
            font-size: 12px;
            border: 1.5px solid white;
        }

        .forms input[type=text]:focus {
            border: 1.5px solid white;
        }

        ::placeholder {
            color: white;
            font-family: "Poppins", sans-serif;
        }

        /*kontak*/
        .kontak {
            display: flex;
            justify-content: space-around;
        }
        .kontak footer{
            margin-left: 20px;
        }
    